* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	--white: #E9E9E9;
	--black: #020202;
	--silver: silver;
	--primary-color-1: #B0A180;
	--primary-color-2: #1a2537;
}

html {
	overflow-x: hidden;
}

html::-webkit-scrollbar {
	background: transparent;
	width: 0.1px;
}

html::-webkit-scrollbar-thumb {
	background: transparent;
}


button:active {
	outline: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url('../public/images/images\ \(2\).jpeg');
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
	position: relative;
	padding: 0;
	height: 100%;
	background-size: cover;
}

body::-webkit-scrollbar {
	background: var(--primary-color-2);
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: var(--primary-color-1);
}


.load-screen-body {
	position: fixed;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	top: 0;
	background-color: var(--primary-color-2);
}

.gone {
	display: none;
}

.center-loading-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center-loading-content img {
	width: 17em;
	animation: zoomimg 2s linear infinite;
}

@keyframes zoomimg {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1);
	}
}

.container {
	width: 96%;
	max-width: 1250px;
	margin: auto;
}

.rain {
	height: 100%;
	min-height: 100vh;
	background: url('../public/images/rain.png');
	animation: AniRain .3s linear infinite;
	transition: all 1s ease;
	opacity: 0.1;
}


.rain::before {
	transition: all 1s ease;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	animation: light 3s linear infinite;
	opacity: 0.2;
	z-index: -10;
}

@keyframes AniRain {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 20% 100%;
	}

}


.rainBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hideRain {
	transition: all 1s ease;
	opacity: 0.01;
}


.header-home {
	position: relative;
	min-height: 680px;
	max-height: 850px;
	padding-bottom: 1rem
}

.bg-video {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
	max-height: 800px;
	min-height: 680px;
	height: 100%;
	top: 0;
	width: 100%;
	z-index: -2;
}

.overlay {
	position: absolute;
	width: 99.9%;
	z-index: -1;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	/* color here */
}


/* NAV JS STYLE */

.header-bar-wrapper {
	background: var(--primary-color-2);
	/* color here */
	padding: 4px 0;
}

.logo-header{
	flex: 1;
	text-align: center;
}

.logo-header .logo {
	width: 10rem;
	margin-right: 45px;
}

.hb-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-icon {
	font-size: 2.5em;
	font-weight: 1900;
	color: var(--primary-color-1);
	/* color here */
	cursor: pointer;
}


.timesabdintlogo img {
	width: 3.3em;
}

/* NAV JS STYLE END */



/* SLIDES JS STYLING  */

.slide-wrapper {
	padding: 1em 0.1px;
	position: fixed;
	width: 100%;
	margin-top: 62.5px;
	max-width: 600px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	background: var(--primary-color-2);
	height: 100%;
	transition: all 0.3s ease;
	transform: translateX(-100vw);
}

.slideShows {
	transform: translateX(-0vw);
	box-shadow: -3px 2px 4px 3px var(--primary-color-1);
}

.watch-text-grey {
	color: var(--silver);
	font-weight: 450;
	letter-spacing: 2px;
	margin-bottom: 1em;
}

.watch-videos-ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	line-height: 2.5em;
	list-style-type: none;
}

.watch-videos-ul a {
	text-decoration: none;
	color: var(--white);
	font-weight: 500;
}

.watch-section {
	margin-left: 2rem;
}

.first-vav-box {
	border-bottom: 1px solid var(--primary-color-1);
	padding: 1.5em 0;
}


/* SLIDES JS STYLING END */




/* ADCOPY SECTION */

.ad-copy-text {
	color: var(--white);
	/* color here */
	padding-top: 3rem;
	line-height: 200%;
	text-align: center;
}

.subjects-interest-btns {
	display: flex;
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	margin: auto;
}


.subject-btn {
	cursor: pointer;
	border: 1.5px groove silver;
	border-radius: 30px;
	margin: 10px;
	height: 40px;
	align-self: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.83rem;
	position: relative;
	padding: 0.4em 1rem;
	transition: all 0.2s ease;
	color: var(--white);
	/* color here */
}


input[type='radio'] {
	appearance: none;
	width: 0px;
	z-index: -1;
	position: absolute;
	border-radius: 40px;
	height: 105%;
	width: 103%;
}

input[type='radio']:checked {
	background-color: var(--primary-color-1);
}


.subject-btn:hover,
.subject-btn:active {
	background: var(--primary-color-1);
	color: var(--white);
	/* color here */
}

.top-title-adcopy {
	font-size: 1rem;
}

.top-title-adcopy img {
	width: 16em;
}

.desc-sub-ad-copy {
	font-size: 1.3rem;
	letter-spacing: 1px;
	margin: 20px 0;
}

.btn-next-box {
	display: flex;
	justify-content: center;
	padding: 2rem 0 0.5rem;
	align-items: center;
	margin: auto;
}

.next-button {
	background: var(--primary-color-1);
	/* color here */
	display: block;
	color: var(--white);
	/* color here */
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
	cursor: pointer;
	border: 2px groove silver;
}

.next-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.next-button:disabled a {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}

.next-button a {
	color: var(--white);
	text-decoration: none;
	font-weight: 600;
	padding: 0.6em 3rem;
	display: inline-block;
}

.next-button-button {
	margin-top: 40px;
	border: none;
	background: transparent;
	border-radius: 3px;
}

/* ADCOPY SECTION END */


/* SECTION 1 JS STYLING */

section.how-it-works {
	background: url('../public/images/Intelligentsia\ Talk\ banner.jpg');
	background-size: cover;
	min-height: 30em;
	background-position: center;
	overflow: hidden;
	padding-bottom: 1em;
	position: relative;
}

/* SECTION 1 JS STYLING END */


/* TRIANGLERS JS STYLING */

.triangle1 {
	width: 40%;
	max-width: 400px;
	height: 0px;
	border-bottom: 100px solid var(--primary-color-1);
	border-right: 75px solid transparent;
	border-left: 100px solid var(--white);
	transform: skew(25deg, 20deg);
	background: transparent;
	animation: colorChange 3s linear infinite alternate-reverse;
}

.triangle2 {
	width: 40%;
	max-width: 400px;
	height: 0px;
	border-bottom: 25px solid var(--primary-color-2);
	border-right: 85.5px solid transparent;
	border-left: 75px solid var(--white);
	transform: matrix(0.5, -0.4, 3, 0, -100, 50);
	background: transparent;
	animation: colorChange2 3s linear infinite alternate-reverse;
}


.triangle3 {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 40%;
	max-width: 400px;
	height: 0px;
	border-bottom: 45px solid var(--primary-color-1);
	border-right: 165px solid transparent;
	border-left: 100px solid var(--white);
	transform: matrix(0.5, 0.3, -2, -2.5, 0, 0);
	background: transparent;
	box-shadow: 2px 2px 1px 2px var(--primary-color-1);
	animation: colorChange2 3s linear infinite alternate-reverse;
}


.triangle4 {
	position: absolute;
	right: -80px;
	top: 10px;
	width: 40%;
	max-width: 400px;
	height: 0px;
	border-bottom: 50px solid var(--primary-color-1);
	border-right: 175px solid transparent;
	border-left: 100px solid var(--white);
	transform: matrix(0.5, 0.3, -2, -2.5, 0, 0);
	box-shadow: 2px 2px 2px 2px var(--primary-color-1);
	background: transparent;
}

@keyframes colorChange {
	from {
		border-bottom: 100px solid var(--primary-color-2);
		transform: skew(25deg, 20deg);
	}

	to {
		border-bottom: 100px solid var(--primary-color-1);
		transform: skew(15deg, 10deg)
	}
}

@keyframes colorChange2 {
	from {
		border-bottom: 90px solid var(--primary-color-1);
	}

	to {
		border-left: 200px solid var(--primary-color-1);
	}
}

/* TRIANGLERS JS STYLING END */





/* WORDINGS WALL JS AND WORDINGS JS */


.word-wallbox {
	background: url('../public/images/close-up-white-marble-textured-wall.jpg');
	width: 16em;
	height: 16em;
	max-width: 300px;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	text-align: center;
	position: relative;
	margin: 1em 2em;
	/* overflow: hidden; */
}

.word-wall-section {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.flex-slide-box {
	overflow: auto;
}

.flex-slide-box::-webkit-scrollbar {
	background: var(--primary-color-2);
	height: 5px;
}

.flex-slide-box::-webkit-scrollbar-thumb {
	background: var(--primary-color-1);
}

.top-marble {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: auto 0;
	height: 50%;
	color: var(--primary-color-2);
}

.word-of-wisdom {
	margin-top: 10px;
	padding: 0 24px;
	width: 90%;
}

.top-marble::before {
	content: '';
	position: absolute;
	border-right: 3px groove var(--primary-color-2);
	width: 60%;
	height: 40%;
	right: 20px;
	animation: updownsticksright 2s linear infinite;
	animation-delay: 2s;
	top: 5em;
}

.top-marble::after {
	content: '';
	position: absolute;
	border-left: 3px groove var(--primary-color-2);
	width: 60%;
	height: 40%;
	left: 20px;
	animation: updownsticksleft 2s linear infinite;
	bottom: 10em;
}

.banner-bottom {
	background: var(--primary-color-2);
	width: 16.01em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.banner-bottom img {
	width: 10rem;
}

@keyframes updownsticksleft {
	0% {
		bottom: 10em;
	}

	50% {
		bottom: 5em;
	}

	100% {
		bottom: 10em;
	}
}

@keyframes updownsticksright {
	0% {
		top: 5em;
	}

	50% {
		top: 0em;
	}

	100% {
		top: 5em;
	}
}

/* WORDINGS WALL JS AND WORDINGS JS END */


/* INNOVATIVEWORDS JS */

.section-bgblue {
	background: var(--primary-color-2);
	color: var(--white);
	min-height: 16em;
	line-height: 180%;
	position: relative;
	margin-bottom: 5rem;
}

.gold-blade,
.blue-blade {
	width: 60vw;
	height: 10em;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.cutrule {
	height: 0;
	width: 100%;
	outline: none;
	border: 2px solid var(--primary-color-1);
}

.gold-blade {
	background: var(--primary-color-1);
	right: 0;
	transform: rotate(-20deg) skewX(35deg);
	right: -20%;
	bottom: -30px;
}

.blue-blade {
	background: var(--primary-color-2);
	transform: rotate(-15deg) skewX(40deg);
	bottom: -50px;
	width: 80vw;
}

.intelligentsiaBrand-left {
	width: 90%;
	margin: auto;
	padding: 2em 0;
}

.intelligentsiaBrand-left img {
	width: 5em;
}

.heading-innovative-words {
	font-family: serif;
	font-size: 0.9em;
	font-weight: lighter;
}

.inner-word-writeup {
	display: flex;
	min-height: 15.5em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 1em;
	width: 400px;
}

/* INNOVATIVEWORDS JS END*/
.react-player-holder {
	width: 90vw;
	max-width: 800px;
	border: 4px solid blue;
	overflow: hidden;
}








/* media query */
@media screen and (min-width:950px) {


	.btn-header {
		height: 2.5em;
		width: 2.5em;
	}

	.header-bar-wrapper {
		background: var(--primary-color-2);
		/* color here 	*/
		padding: 15px 0;
	}

	.logo-header .logo {
		width: 15rem;
	}

	.menu-icon {
		font-size: 3em;
	}

	.slide-wrapper {
		margin-top: 86.86px;
	}

	.ad-copy-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 5%;
	}

	.top-title-adcopy {
		font-size: 1.4rem;
	}

	.desc-sub-ad-copy {
		font-size: 1.6rem
	}

	.word-wall-section {
		display: flex;
	}

	/* 
	.inner-word-writeup{
		display: flex;
		flex-direction: row;
		width: 1000px;
	} */
	.section-bgblue {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		padding: 2em 0;
	}

	.intelligentsiaBrand-left {
		width: 50%;
	}

	.intelligentsiaBrand-left img {
		width: 10em;
	}


	.gold-blade {
		background: var(--primary-color-1);
		right: 0;
		transform: skewX(35deg);
		rotate: -10deg;
		width: 70vw;
		right: -20%;
		bottom: -30px;
	}

	.blue-blade {
		background: var(--primary-color-2);
		transform: skewX(40deg);
		rotate: -8deg;
		bottom: -40px;
		width: 95vw;
	}


	.cutrule {
		display: none;
	}

}